@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #FFFFFF;
  color: #0A0A0A;
  font-family: "Inter", sans-serif;
}

.rbc-event {
  background-color: #addb40 !important; /* Cor roxa */
  border-radius: 6px !important;
  padding: 6px !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.rbc-today {
  background-color: #eef2ff !important; /* Azul claro para o dia atual */
}

.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-bottom: 2px solid #e5e7eb;
}

.rbc-toolbar button {
  background-color: #4b8174 !important;
  color: white !important;
  padding: 6px 12px !important;
  border-radius: 5px !important;
  font-weight: bold;
}

.rbc-toolbar button:hover {
  background-color: #4b8168  !important;
}

